channels:
- conda-forge
dependencies:
- ase =3.27.0
- coverage
- lxml =6.0.2
- mendeleev =1.1.0
- numpy =2.3.5
- pandas =2.3.3
- phonopy =2.47.1
- requests =2.32.5
- scipy =1.16.3
- seekpath =2.2.1
- spglib =2.7.0
- structuretoolkit =0.0.39
- sphinx_parser =0.1.6
- tqdm =4.67.2
- pyiron_vasp =0.2.19
- hatchling =1.28.0
- hatch-vcs =0.5.0
