channels:
- conda-forge
dependencies:
- ase =3.26.0
- coverage
- lxml =6.0.2
- mendeleev =1.1.0
- numpy =2.3.5
- pandas =2.3.3
- phonopy =2.44.0
- requests =2.32.5
- scipy =1.16.3
- seekpath =2.1.0
- spglib =2.6.0
- structuretoolkit =0.0.38
- sphinx_parser =0.1.5
- tqdm =4.67.1
- pyiron_vasp =0.2.16
- hatchling =1.27.0
- hatch-vcs =0.5.0
