channels:
- conda-forge
dependencies:
- ase =3.23.0
- numpy =1.26.4
- scipy =1.14.1
- spglib =2.5.0
- phonopy =2.32.0
- structuretoolkit =0.0.28
- seekpath =2.1.0
- gpaw =24.6.0
- lammps =2024.06.27
- pandas =2.2.3
- pylammpsmpi =0.2.26
- jinja2 =3.1.4
- dynaphopy =1.17.16
- tqdm =4.67.1
