channels:
- conda-forge
dependencies:
- ase =3.27.0
- numpy =2.3.5
- scipy =1.16.3
- spglib =2.7.0
- phonopy =2.45.1
- structuretoolkit =0.0.38
- seekpath =2.1.0
- gpaw =25.7.0
- lammps =2024.08.29
- pandas =2.3.3
- pylammpsmpi =0.3.8
- jinja2 =3.1.6
- dynaphopy =1.18.0
- tqdm =4.67.1
- pyiron_lammps =0.5.2
- pyiron_vasp =0.2.18
- hatchling =1.27.0
- hatch-vcs =0.5.0
