channels:
- conda-forge
dependencies:
- ase =3.22.1
- coverage
- numpy =1.26.0
- scipy =1.11.3
- spglib =2.1.0
- phonopy =2.20.0
- structuretoolkit =0.0.12
- seekpath =2.1.0
- gpaw =23.9.1
- lammps =2023.11.21
- pandas =2.1.3
- pylammpsmpi =0.2.6
- jinja2 =3.1.2
