channels:
- conda-forge
dependencies:
- ase =3.22.1
- coverage
- numpy =1.26.3
- scipy =1.12.0
- spglib =2.3.1
- phonopy =2.21.0
- structuretoolkit =0.0.18
- seekpath =2.1.0
- gpaw =24.1.0
- lammps =2023.11.21
- pandas =2.2.0
- pylammpsmpi =0.2.12
- jinja2 =3.1.3
