name: Unittest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

jobs:
  build:

    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        include:
        - operating-system: macos-latest
          python-version: '3.11'
          label: osx-64-py-3-11
          prefix: /Users/runner/miniconda3/envs/my-env

        - operating-system: ubuntu-latest
          python-version: '3.11'
          label: linux-64-py-3-11
          prefix: /usr/share/miniconda3/envs/my-env

        - operating-system: windows-latest
          python-version: '3.11'
          label: win-64-py-3-11
          prefix: /usr/share/miniconda3/envs/my-env

        - operating-system: ubuntu-latest
          python-version: '3.10'
          label: linux-64-py-3-10
          prefix: /usr/share/miniconda3/envs/my-env

        - operating-system: ubuntu-latest
          python-version: '3.9'
          label: linux-64-py-3-9
          prefix: /usr/share/miniconda3/envs/my-env
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        miniforge-variant: Mambaforge
        channels: conda-forge
        channel-priority: strict
        activate-environment: my-env
        use-mamba: true
    - name: Setup environment (windows)
      if: matrix.operating-system == 'windows-latest'
      run: cp .ci_support/environment.yml environment.yml
    - name: Setup environment (unix)
      if: matrix.operating-system != 'windows-latest'
      shell: bash -l {0}
      run: |
        mamba install -y pyyaml
        python .ci_support/condamerge.py .ci_support/environment.yml .ci_support/environment-gpaw.yml .ci_support/environment-lammps.yml .ci_support/environment-qe.yml > environment.yml
    - name: Update environment
      run: mamba env update -n my-env -f environment.yml
    - name: Setup
      shell: bash -l {0}
      run: |
        pip install --no-deps .
    - name: Test classical (and I guess GPAW?)
      if: matrix.label != 'linux-64-py-3-11'
      shell: bash -l {0}
      timeout-minutes: 30
      run: coverage run --omit atomistics/_version.py -m unittest discover tests
    - name: Test with DFT too
      if: matrix.label == 'linux-64-py-3-11'
      shell: bash -l {0}
      timeout-minutes: 30
      run: coverage run --omit atomistics/_version.py -m unittest discover tests
      env:
        ABINIT_PP_PATH: '/usr/share/miniconda3/envs/my-env/share/abinit/LDA_FHI'
        ABI_PSPDIR: '/usr/share/miniconda3/envs/my-env/share/abinit/LDA_FHI'
        ASE_ABINIT_COMMAND: 'abinit PREFIX.in > PREFIX.log'
        ASE_ESPRESSO_COMMAND: "mpirun -np 1 pw.x -in PREFIX.pwi > PREFIX.pwo"
        ESPRESSO_PSEUDO: tests/static/qe
        OMPI_MCA_plm: isolated
        OMPI_MCA_btl_vader_single_copy_mechanism: none
        OMPI_MCA_rmaps_base_oversubscribe: yes
    - name: Coverage
      if: matrix.label == 'linux-64-py-3-11'
      continue-on-error: True
      shell: bash -l {0}
      run: |
        coverage combine
        coveralls
        coverage xml
    - name: Codacy
      if: matrix.label == 'linux-64-py-3-11' && github.event_name != 'push'
      continue-on-error: True
      shell: bash -l {0}
      run: |
        python-codacy-coverage -r coverage.xml
