name: MACE Unittest Linux 3.11

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Merge Notebook environment
      run: |
        cp .ci_support/environment.yml environment.yml
        tail --lines=+4 .ci_support/environment-mace.yml >> environment.yml
    - name: Setup Mambaforge
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: '3.11'
        miniforge-variant: Mambaforge
        channels: conda-forge
        channel-priority: strict
        activate-environment: my-env
        environment-file: environment.yml
        use-mamba: true
    - name: Test
      shell: bash -l {0}
      timeout-minutes: 60
      run: |
        pip install versioneer[toml]==0.29
        pip install . --no-deps --no-build-isolation
        python -m unittest tests/test_ase_interface/test_evcurve_ase_mace.py
        python -m unittest tests/test_ase_interface/test_phonons_ase_mace.py
        python -m unittest tests/test_ase_interface/test_quasiharmonic_ase_mace.py
        python -m unittest tests/test_ase_interface/test_ase_md_mace.py
